<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; html5View.irev &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>lc</string>
	<key>name</key>
	<string>View — HTML5</string>
	<key>scope</key>
	<string>text.irev</string>
	<key>uuid</key>
	<string>B5D86341-54AD-49B9-B0A5-0E841E5AEE86</string>
</dict>
</plist>
